################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskNest/TaskNest/WeatherForecast.cs
/.vs
/TaskNest/.vs
/TaskNest/.vs/TaskNest
/TaskNest/.vs/TaskNest
/TaskNest/.vs/TaskNest/FileContentIndex
/TaskNest/.vs/TaskNest/FileContentIndex
/TaskNest/.vs/TaskNest
